.container
    %h2 All Boards
    .board_wrapper
        - @boards.each do |board|
            = render 'commons/board', board: board
    = link_to new_board_path, class: 'new_board' do
        + Add new board