@import 'header';
@import 'tabs';
@import 'variables';
@import 'board';
@import 'form';
@import 'button';
@import 'flash';
@import 'common';
@import 'task';
@import 'comment';
@import 'profile';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  background-color: $base-bg-color;
  font-size: $base-font-size;
  color: $text-base-color;
  font-family: "Nunito", sans-serif;
}

.container {
  padding: 32px 26px;
  width: 100%;
  padding-bottom: 140px;
}

h1 {
  font-weight: 400;
  font-size: $base-font-size;
}

h2 {
  font-size: $font-lg;
}

h3 {
  font-weight: 400;
  font-size: $font-lg;
}

ul {
  margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit;
    border-bottom: none;
}