@import './variables';

$heart-size: 16px;
$avatar-size: 30px;

.board {
  background-color: $sub-bg-color;
  margin: 35px 0 26px;
  padding: 32px 17px;
  border-radius: 10px;
  position: relative;
  z-index: 1;

  &_detail {
    display: flex;
    font-size: 10px;

    img {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 8px;
    }
  }

  &_content {
    padding-top :6px;
    padding-bottom: 29px;
    font-size: 14px;
    opacity: 0.4;
    clear: both;
    box-sizing: border-box;
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  &_title {
    display: block;
    margin: 0;
    padding-right: 50px;
  }

  // &_header {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  // }

  &_actions {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 1000;
  }

  &_row {
    position: relative;
    z-index: 1;
  }

  .dropdown {
    vertical-align: middle;
    flex: 0 0 auto;
    position: absolute;
    z-index: 100;
    right: 20px;
    border-radius: 10px;
    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
      display: block;
    }
  }
  .dropdown-content.mini {
    border-radius: 10px;
    min-width: 66px;
    position: absolute;
    z-index: 100;
  }
  button {
    background: none;
    border: none;
    padding: 8px 16px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: inherit;
  }
  &:hover {
    opacity: 0.7;
  }
}
.new_board {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  height: 160px;
  border: 1px dotted #333;
  background-color: $base-bg-color;
  padding: 67px 0px;
  text-decoration: none;
  color: $text-base-color;
}