@import './variables';

$heart-size: 16px;
$avatar-size: 30px;

.board {
  background-color: $sub-bg-color;
  margin: 35px 0 26px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  transition: .4s;

  &_detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: $avatar-size;
      height: $avatar-size;
      object-fit: cover;
      border-radius: 20px;
    }
    .board_avatar_stack {
      display: flex;
      align-items: center;
    }
    .board_avatar {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 8px;
      &:nth-of-type(n+2) {
        margin-left: -18px;
      }
    }
    .board_comment {
      span {
        display: inline-block;
        font-size: 14px;
        vertical-align: text-top;
        opacity: 0.2;
      }
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  &_content {
    padding-top :6px;
    padding-bottom: 29px;
    font-size: 14px;
    opacity: 0.4;
    clear: both;
    box-sizing: border-box;
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  &_title {
    display: block;
    margin: 0;
    padding-right: 50px;
  }

  &_actions {
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 1000;
  }

  &_row {
    position: relative;
    z-index: 1;
  }

  .dropdown {
    vertical-align: middle;
    flex: 0 0 auto;
    position: absolute;
    z-index: 100;
    right: 20px;
    border-radius: 10px;
    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
      display: block;
    }
  }
  .dropdown-content.mini {
    border-radius: 10px;
    min-width: 66px;
    position: absolute;
    z-index: 100;
  }
  button {
    background: none;
    border: none;
    padding: 8px 16px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: inherit;
  }
  &:hover {
    opacity: 0.7;
  }
}
.new_board {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  height: 160px;
  border: 1px dotted #333;
  background-color: $base-bg-color;
  padding: 67px 0px;
  text-decoration: none;
  color: $text-base-color;
  margin-top: 35px;
}
.board_image {
  padding-bottom: 27px;
  img {
    width: 100%;
    border-radius: 8px;
    // max-width: 322px;
    height: 170px;
    object-fit: cover;
  }
}