@import './variables';

.btn-primary {
    background-color: $primary-color;
    border: none;
    width: calc(100% - 32px);
    text-align: center;
    color: white;
    padding: 16px 0;
    font-weight: 800;
    border-radius: 4px;
    font-size: $base-font-size;
    width: 100%;
    margin-top: 30px;
    cursor: pointer;
}
.delete_article_btn {
    border:none;
    background-color: transparent;
    color: $text-base-color;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    cursor: pointer;
}
.btn-secondary {
    background-color: white;
    border: solid 1px $primary-color;
    width: 100%;
    text-align: center;
    color: $primary-color;
    padding: 16px 0;
    font-weight: bold;
}