@import './variables';

$heart-size: 16px;
$avatar-size: 30px;

.board {
  background-color: $sub-bg-color;
  margin: 35px 0 26px;
  padding: 32px 17px;
  border-radius: 10px;

  &_detail {
    display: flex;
    font-size: 10px;

    img {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 8px;
    }
  }

  &_content {
    padding-top :6px;
    padding-bottom: 29px;
    font-size: 14px;
    opacity: 0.4;
    clear: both;
    box-sizing: border-box;
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  &_title {
    display: block;
    margin: 0;
    padding-right: 10px;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown {
    display: inline-block;
    vertical-align: middle;
    flex: 0 0 auto;
    cursor: pointer
    img {
      width: 24px;
      height: 24px;
      object-fit: contain;
      display: block;
    }
  }
  .dropdown-content.mini {
    border-radius: 10px;
    padding: 13px;
    min-width: 66px;
  }
}
.new_board {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  height: 160px;
  border: 1px dotted #333;
  background-color: $base-bg-color;
  padding: 67px 0px;
  text-decoration: none;
  color: $text-base-color;
}