@import './variables';

input, select {
  &.text {
    width: 100%;
    margin: 8px 0px;
    padding: 16px 24px;
    border: 1px solid #EBEBEB;
    background-color: $sub-bg-color;
    border-radius: 10px;
  }
}

label {
  font-size: $base-font-size;
}

textarea {
  width: 100%;
  margin: 8px 0px;
  padding: 8px 8px;
  min-height: 203px;
  resize: vertical;
  border: 1px solid #EBEBEB;
  background-color: $sub-bg-color;
  border-radius: 10px;
}
.field {
  margin-top: 33px;
}
.datetime {
  width: 100%;
  margin: 8px 0px;
  padding: 8px 8px;
  background-color: $sub-bg-color;
  border-radius: 10px;
  border: 1px solid #EBEBEB;
}