@import './variables';

input, select {
  &.text {
    width: 100%;
    margin: 8px 0px;
    padding: 16px 24px;
    border: 1px solid #EBEBEB;
    background-color: $sub-bg-color;
    border-radius: 10px;
  }
}

label {
  font-size: $base-font-size;
}

textarea {
  width: 100%;
  margin: 8px 0px;
  padding: 8px 8px;
  min-height: 440px;
  resize: vertical;
  border: 1px solid #EBEBEB;
}
.field {
  margin-top: 33px;
}

.field:nth-of-type(3) {
  margin-top: 16px;
}