@import 'variables';

$avatar-size: 40px;
$header-padding-y: 17px;

.header {
  display: flex;
  justify-content: space-between;
  background-color: $base-bg-color;
  padding: $header-padding-y 30px;
  border-bottom: 1px solid rgba($text-base-color, 0.1);
}

.dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}