@import 'variables';

$avatar-size: 40px;
$header-padding-y: 17px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $base-bg-color;
  padding: $header-padding-y 30px;
  border-bottom: 1px solid rgba($text-base-color, 0.1);
  position: relative;

  &_logoutBtn {
    border: none;
    background-color: transparent;
    padding: 8px 16px;
    color: $text-base-color;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    text-align: left;
    &:hover {
      background-color: rgb(227, 227, 227);
      border-radius: 10px;
    }
  }
  .header_title {
    text-decoration: none;
    color: $text-base-color;
    border-bottom: none;
  }
}